#menuLogo {
    margin: 1rem;
    width: 30px;
    height: 30px;
}

img {
    max-width: 100%;
}

body, html {
  height: 100%;
    background-color: antiquewhite;
}

.hide {
  display: none;
}


  
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.ui.small.modal {
  margin-left: 350px;
  left:2.5% !important;
}

.strike{
  text-decoration: line-through;
}


.fa-star {
  font-size: 24px;
}

.fa-star:hover{
  cursor: pointer;
}

.checked {
  color: orange;
}

.label-active {
  font-size: 24px;
}

input[type="checkbox"]{
  margin-right:5px;
  display: inline;
}

.label-instructions{
  display: inline;

}

/*****/