body, html {
    height: 100%;
    background-color: blanchedalmond;
}

.hero-image {
    background-image: url("../Images/hero_bg.jpg");
    height: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.hero-text{
    text-align: center;
    color: rgb(46, 44, 44);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}

li{
    display: list-item;
    list-style-position: inside;
}

/*NEEDED*/
.strike{
    text-decoration: line-through;
}

.ui.fullscreen.modal {
    /* margin-left: 300px; */
    left:2.5% !important;
}

.fa-star {
    font-size: 24px;
}

.fa-star:hover{
    cursor: pointer;
}

.checked {
    color: orange;
}